html {
    font-family: sans-serif;
    background-color: gray;
    }
body {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    background-color: white;
  }
header {
    background: url(media/header.jpg) no-repeat center;
    height: 500px;
}
header :nth-child(1){
    width: 100%
}
section {
    padding: 20px;
}

p {
    line-height: 1.5;
}
img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}