audio {
    border: 1px solid black;
  }
  video {
    border: 1px solid black;
  }
header {
    background-color: rgb(158, 45, 120);
    color: rgb(78, 10, 10);
    font: 1em / 1.4 Helvetica Neue, Helvetica, Arial, sans-serif;
    padding: 1em;
    margin: 0;
  }  
footer {
    background-color: yellowgreen;
    color: brown;
    font: 1em / 1.4 Helvetica Neue, Helvetica, Arial, sans-serif;
    padding: 1em;
    margin: 1em;
}